.app {
  display: flex;
  flex-direction: column;
}

.card__list {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  margin: 0 15px;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

/* MEDIUM BREAKPOINT */
@media screen and (min-width: 900px) {
  .card__list {
    flex-direction: row;
    margin: 0 30px;
    flex: 0 1 25%;
  }
}

/* LARGE BREAKPOINT */
@media screen and (min-width: 1600px) {
  .container {
    margin: auto;
    max-width: 1600px;
  }
}
